.container{
    width: 700px;
    height: 400px;
   border: 2px solid black;
   margin: 40px auto;
}
.item{
    float: left;
}
.item1{
    width: 150px;
    height: 150px;
    background-color:  yellow;
    position: absolute;
    top: 100px;
}
.item2{
    width: 150px;
    height: 150px;
    background-color: red;
}
.item3{
    width: 150px;
    height: 150px;
    background-color: green;
}
.paragraph{
    position: sticky;
    top: 30px;
    left: 0px;
    color: rgb(224, 14, 175);
    background-color: brown;

}
nav{
    width: 100vw;
    height: 70px;
    box-shadow: 2px 2px 5px black;
    display: flex;
}
nav-logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
}
nav-logo p{
    color: blue
    fontsize: 25px;
}
nav-logo p span{
    color:orangered
}
ul{
    width: 60%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    
}
ul li{

}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn button{
    padding: 10px 20px;
    background-color: orchid;
    border: none;
    border-radius: 5px;
    color: wheat;


}
.nav-btn button:hover{
    background-color: blue;
    cursor: pointer;
}
.move{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition-property: all;
    transition-duration: ;

}
